.loginBG {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    padding: 1rem;
    background: #eef2f3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #16776f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #16776f;
    background: #ffffff;
    opacity: 0.6;
}
.btn:hover {
    opacity: 1;
}