.container {
    display: inline-block;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px #16776f;
}

.tagBtn {
    float: left;
    display: block;
    background: #eef2f3;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #16776f;
    margin: 0.2rem;
    cursor: pointer;
    opacity: 0.8;
}
.tagBtn:hover {
    opacity: 1;
}
.tagTitle {
    float: left;
}